#wrap {
    position: relative;
}
/* header============================================================== */
#wrap header {
    text-align: center;
    width: 100%;
}
#wrap header .right_wrap {
    text-align: right;
    padding: 8px 80px;
}
#wrap header .right_wrap li {
    margin-right: 16px;
    display: inline-block;
}
#wrap header .right_wrap li:last-child {
    margin-right: 0;
}
#wrap header .right_wrap li a {}
#wrap header .right_wrap li::after {
    width: 1px; height: 10px;
    background-color: #000;
    content: ""; display: inline-block;
    margin-left: 16px;
}
#wrap header .right_wrap li:last-child::after {
    display: none;
}
#wrap header h1 {
    width: 100%;
    padding: 8px 0;
}
#wrap header h1 a {}
#wrap header h1 a img {}
/* gnb 영역 (스크롤) */
#wrap nav {
    position: sticky; top: 0;
    z-index: 999;
}
#wrap nav .gnb {
    width: 100%; height: 74px;
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
#wrap nav .gnb li {
    margin-right: 80px;
}
#wrap nav .gnb li:last-child {
    margin-right: 0;
}
#wrap nav .gnb li a {
    font-size: 0.75rem;
    color: #D1D1D1;
}
#wrap nav .gnb li a p {
    font-size: 1.125rem;
    font-weight: 600;
}
#wrap nav .gnb li:hover a {
    color: #b0b0b0;
}
#wrap nav .gnb li:hover a p {
    color: #00712D;
}
/* footer ============================================================== */
#wrap footer {
    background-color: #FFFBE6;
    text-align: center;
    padding: 80px 0;
}
#wrap footer #footer_wrap {
    width: 1280px;
    margin: 0 auto;
}
#wrap footer #footer_wrap .top_wrap {
    margin-bottom: 40px;
}
#wrap footer #footer_wrap .top_wrap .fnb {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
}
#wrap footer #footer_wrap .top_wrap .fnb li {
    margin-right: 24px;
}
#wrap footer #footer_wrap .top_wrap .fnb li::after {
    display: inline-block;
    width: 1px; height: 10px;
    content: "";
    background-color: #000;
    margin-left: 24px;
}
#wrap footer #footer_wrap .top_wrap .fnb li:last-child::after {
    display: none;
}
#wrap footer #footer_wrap .top_wrap .fnb li a {}
#wrap footer #footer_wrap .bottom_wrap {
    width: 1280px;
    display: flex; flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    text-align: left;
    position: relative;
    margin: 0 auto;
}
#wrap footer #footer_wrap .bottom_wrap p {
    font-size: 0.75rem;
    line-height: 1.8;
}
#wrap footer #footer_wrap .bottom_wrap p em {
    font-size: 0.875rem;
    font-weight: 500;
}
#wrap footer #footer_wrap .bottom_wrap p img {}
