/* index.html */
#wrap main {}
/* 1행 대표이미지======================================== */
#wrap main .bg_wrap {
    height: 800px;
    position: relative;
    margin-bottom: 80px;
}
#wrap main .bg_wrap .bg {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#wrap main .bg_wrap .bg1{
    display: block;
    background-image: url(../images/mainphoto.jpg);
}
#wrap main .bg_wrap .bg2{display: none;}
#wrap main .bg_wrap .bg3{display: none;}
#wrap main .bg_wrap .bg4{display: none;}
#wrap main .bg_wrap .bg5{display: none;}
#wrap main .bg_wrap .bg_nav_wrap {
    display: flex; flex-flow: row nowrap;
    position: absolute; left: 50%; bottom: 12px; /* 좌표 지정 안하면 형제 다음 위치 */
    transform: translateX(-50%); /* 왼쪽 상단 기준으로 left: 50%를 요소의 가운데 기준으로 바꾸는 방법 */
}
#wrap main .bg_wrap .bg_nav_wrap a {
    background-color: #EEEEEE;
    width: 10px; height: 10px;
    border-radius: 5px;
    margin-right: 8px;
}
#wrap main .bg_wrap .bg_nav_wrap a:nth-child(1) {
    background-color: #FF9100 ;
}
#wrap main .bg_wrap .bg_nav_wrap a:last-child {
    margin-right: 0;
}
/* 2행 3행 공통 CSS */
#wrap main .title {
    margin: 0 auto;
    text-align: center;
}
#wrap main .title >h2 {
    color: #00712D;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 24px;
}
#wrap main .title >p {
    line-height: 1.5;
    margin-bottom: 80px;
}
/* 2행 hill */
#wrap main .hill {
    border: 1px solid red;
    padding: 80px 0;
}
#wrap main .hill .contents_wrap {
    border: 1px solid orange;
    margin: 0 230px;
    position: relative;
}
#wrap main .hill .contents_wrap .slide_btn {}
#wrap main .hill .contents_wrap .slide_btn #left_slide_btn {
    position: absolute; left: 0; top: 50%;
    transform: translateY(-50%);
}
#wrap main .hill .contents_wrap .slide_btn #left_slide_btn img{}
#wrap main .hill .contents_wrap .slide_btn #right_slide_btn {
    position: absolute; right:0; top: 50%;
    transform: translateY(-50%);
}
#wrap main .hill .contents_wrap .slide_btn #right_slide_btn img{}
#wrap main .hill .contents_wrap .slide_wrap{
    width: 1280px;
    display: flex; flex-flow: row nowrap;
    gap: 20px;
    overflow: hidden;
    margin: 0 auto;
}
#wrap main .hill .contents_wrap .slide_wrap a{}
#wrap main .hill .contents_wrap .slide_wrap a img{}
/* 3행 studio */
#wrap main .studio {
    padding: 80px 0;
}
#wrap main .studio .contents_wrap{
    text-align: center;
    margin: 0 auto;
    width: 1280px;
    display: flex; flex-flow: row nowrap;
    gap: 50px;
    padding: 0 80px;
}
#wrap main .studio .contents_wrap li {
    border: 1px solid #B1B1B1;
}
#wrap main .studio .contents_wrap li >p {
    width: 340px; height: 340px;
}
#wrap main .studio .contents_wrap li >p img {}
#wrap main .studio .contents_wrap li .explain {
    width: 340px; height: 152px;
    background-color: #fff;
    padding: 35px 0;
}
#wrap main .studio .contents_wrap li .explain h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
}
#wrap main .studio .contents_wrap li .explain p:nth-child(2) {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
}
#wrap main .studio .contents_wrap li .explain p:nth-child(3) {
    display: none;
    margin-top: 6px;
}
/* 3행 hover 이벤트 */
#wrap main .studio .contents_wrap li:hover * {
    transition: all 0.3s;
}
#wrap main .studio .contents_wrap li:hover {
    border: 1px solid #00712D;
    position: relative;
}
#wrap main .studio .contents_wrap li:hover .explain {
    height: 184px;
    position: absolute; bottom: 0;
    padding: 41px 0;
    box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.2);
}
#wrap main .studio .contents_wrap li:hover .explain h2 {
    color: #00712D;
}
#wrap main .studio .contents_wrap li:hover .explain p:nth-child(3) {
    display: block;
}
/* 4행 주변관광지 */
#wrap main .around {
    width: 100%;
    background-color: #D5ED9F;
    padding: 80px 0;
}
#wrap main .around .around_title {
    margin: 0 auto;
    width: 1280px;
    border: 1px solid red;
    position: relative;
}
#wrap main .around .around_title h1 {
    color: #00712D;
    font-size: 1.75rem;
    font-weight: 500;
}
#wrap main .around .around_title p {
    font-size: 0.875rem;
    position: absolute; right: 0; bottom: 0;
    display: flex; flex-flow: row nowrap;
    align-items: center;
}
#wrap main .around .around_title p img {
    padding-left: 2px;
}