/* index.html */
#wrap main {}
/* 1행 대표이미지======================================== */
#wrap main .bg_wrap {
    height: 800px;
    position: relative;
    margin-bottom: 80px;
}
#wrap main .bg_wrap .bg {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#wrap main .bg_wrap .bg1{
    display: block;
    background-image: url(../images/mainphoto.jpg);
}
#wrap main .bg_wrap .bg2{display: none;}
#wrap main .bg_wrap .bg3{display: none;}
#wrap main .bg_wrap .bg4{display: none;}
#wrap main .bg_wrap .bg5{display: none;}
#wrap main .bg_wrap .bg_nav_wrap {
    display: flex; flex-flow: row nowrap;
    position: absolute; left: 50%; bottom: 12px; /* 좌표 지정 안하면 형제 다음 위치 */
    transform: translateX(-50%); /* 왼쪽 상단 기준으로 left: 50%를 요소의 가운데 기준으로 바꾸는 방법 */
}
#wrap main .bg_wrap .bg_nav_wrap a {
    background-color: #EEEEEE;
    width: 10px; height: 10px;
    border-radius: 5px;
    margin-right: 8px;
}
#wrap main .bg_wrap .bg_nav_wrap a:nth-child(1) {
    background-color: #FF9100 ;
}
#wrap main .bg_wrap .bg_nav_wrap a:last-child {
    margin-right: 0;
}
/* 2행 3행 공통 CSS */
#wrap main .title {
    margin: 0 auto;
    text-align: center;
}
#wrap main .title >h2 {
    color: #00712D;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 24px;
}
#wrap main .title >p {
    line-height: 1.5;
    margin-bottom: 80px;
}
/* 2행 hill */
#wrap main .hill {
    padding: 80px 0;
}
#wrap main .hill .contents_wrap {
    margin: 0 230px;
    position: relative;
}
#wrap main .hill .contents_wrap .slide_btn {}
#wrap main .hill .contents_wrap .slide_btn #left_slide_btn {
    position: absolute; left: 0; top: 50%;
    transform: translateY(-50%);
}
#wrap main .hill .contents_wrap .slide_btn #left_slide_btn img{}
#wrap main .hill .contents_wrap .slide_btn #right_slide_btn {
    position: absolute; right:0; top: 50%;
    transform: translateY(-50%);
}
#wrap main .hill .contents_wrap .slide_btn #right_slide_btn img{}
#wrap main .hill .contents_wrap .slide_wrap{
    width: 1280px;
    display: flex; flex-flow: row nowrap;
    gap: 20px;
    overflow: hidden;
    margin: 0 auto;
}
#wrap main .hill .contents_wrap .slide_wrap a{}
#wrap main .hill .contents_wrap .slide_wrap a img{}
/* 3행 studio */
#wrap main .studio {
    padding: 80px 0;
}
#wrap main .studio .contents_wrap{
    text-align: center;
    margin: 0 auto;
    width: 1280px;
    display: flex; flex-flow: row nowrap;
    gap: 50px;
    padding: 0 80px;
}
#wrap main .studio .contents_wrap li {
    border: 1px solid #B1B1B1;
}
#wrap main .studio .contents_wrap li >p {
    width: 340px; height: 340px;
}
#wrap main .studio .contents_wrap li >p img {}
#wrap main .studio .contents_wrap li .explain {
    width: 340px; height: 152px;
    background-color: #fff;
    padding: 35px 0;
}
#wrap main .studio .contents_wrap li .explain h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
}
#wrap main .studio .contents_wrap li .explain p:nth-child(2) {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
}
#wrap main .studio .contents_wrap li .explain p:nth-child(3) {
    display: none;
    margin-top: 6px;
}
/* 3행 hover 이벤트 */
#wrap main .studio .contents_wrap li:hover * {
    transition: all 0.3s;
}
#wrap main .studio .contents_wrap li:hover {
    border: 1px solid #00712D;
    position: relative;
}
#wrap main .studio .contents_wrap li:hover .explain {
    height: 184px;
    position: absolute; bottom: 0;
    padding: 41px 0;
    box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.2);
}
#wrap main .studio .contents_wrap li:hover .explain h2 {
    color: #00712D;
}
#wrap main .studio .contents_wrap li:hover .explain p:nth-child(3) {
    display: block;
}
/* 4행 주변관광지 */
#wrap main .around {
    width: 100%;
    background-color: #D5ED9F;
    padding: 80px 0;
}
#wrap main .around .around_title {
    margin: 0 auto;
    width: 1280px;
    position: relative;
}
#wrap main .around .around_title h1 {
    color: #00712D;
    font-size: 1.75rem;
    font-weight: 500;
}
#wrap main .around .around_title p {
    font-size: 0.875rem;
    position: absolute; right: 0; bottom: 0;
    display: flex; flex-flow: row nowrap;
    align-items: center;
}
#wrap main .around .around_title p a {}
#wrap main .around .around_title p a img {
    padding-left: 2px;
}
#wrap main .around .slide_container {
    margin: 18px auto 10px; width: 1280px;
    display: grid; gap: 20px;
    grid-template-areas:
        'title slide2'
        'title slide3'
    ;
}
#wrap main .around .slide_container .slide_title {
    background: url(../images/landscape_001.jpg);
    width: 630px; height: 460px;
    position: relative; z-index: 3;
    grid-area: title;
}
#wrap main .around .slide_container .slide_title::before {
    content: ''; display: block;
    background: linear-gradient(0deg,rgba(0,0,0,0.6), rgba(0,0,0,0) 60%);
    position: absolute; z-index: 5;
    width: 630px; height: 460px;
}
#wrap main .around .slide_container .slide_title h2 {
    font-size: 2.5rem; font-weight: 700; color: #fff;
    position: absolute; bottom: 121px; left: 26px; z-index: 6;
}
#wrap main .around .slide_container .slide_title p{
    font-size: 1.125rem; line-height: 1.5; color: #fff;
    position: absolute; bottom: 30px; left: 26px; z-index: 6;
}
#wrap main .around .slide_container .slide {
    width: 630px; height: 220px;
}
#wrap main .around .slide_container .slide2 {
    background: url(../images/landscape_002.jpg);
    grid-area: slide2;
}
#wrap main .around .slide_container .slide3 {
    background: url(../images/landscape_003.jpg);
    grid-area: slide3;
}
#wrap main .around .slidebar {
    width: 1280px; height: 4px; margin: 0 auto;
    background: #FFFBE6;
    border-radius: 2px;
    position: relative;
}
#wrap main .around .slidebar_locate {
    width: 30%; height: 4px;
    background: #00712D;
    border-radius: 2px;
    position: absolute; left: 0; top: 0;
}
/* 5행 Q&A */
#wrap main .qna {}
#wrap main .qna .contents_wrap {
    margin: 80px auto;
    width: 1280px;
    text-align: left;
}
#wrap main .qna .contents_wrap .top_wrap {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 40px;
}
#wrap main .qna .contents_wrap .top_wrap .topleft_wrap {
    display: flex;
}
#wrap main .qna .contents_wrap .top_wrap .topleft_wrap a {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 42px;
    padding: 0 14px;
}
#wrap main .qna .contents_wrap .top_wrap .topleft_wrap a:nth-child(1) {
    color: #00712D; 
    border-bottom: 3px solid #00712D;
}
#wrap main .qna .contents_wrap .top_wrap .inquiry {
    padding: 12px 43px;
    background: #00712D;
    color: #fff;
    font-weight: 500;
    border-radius: 20px;
}
#wrap main .qna .contents_wrap .qna_list {}
#wrap main .qna .contents_wrap .qna_list .qna_title {
    display: flex; justify-content: space-between;
    padding: 10px 14px;
    border-bottom: 1px solid #f1f1f1;
}
#wrap main .qna .contents_wrap .qna_list .qna_title .qna_contents{
    display: flex;
}
#wrap main .qna .contents_wrap .qna_list .qna_title .qna_contents h2{
    font-size: 1.125rem; font-weight: 500; color: #FF9100;
    margin-right: 20px;
}
#wrap main .qna .contents_wrap .qna_list .qna_title .qna_contents p{
    font-size: 1.125rem;
}
#wrap main .qna .contents_wrap .qna_list .qna_title > p{
    font-size: 0.875rem; color: #B1B1B1;
}
#wrap main .qna .contents_wrap .qna_list .qna_title > p span::before {
    content: ''; display: inline-block;
    width: 1px; height: 8px;
    background-color: #B1B1B1;
    margin: 0 10px;
}
#wrap main .qna .contents_wrap .qna_list .qna_title > p span{
    color: #B1B1B1;
}
/* 6행 찾아오시는 길 */
#wrap main .road_map {
    width: 1280px; margin: 80px auto;
    text-align: center;
}
#wrap main .road_map h1::before {
    content: ''; display: block;
    width: 100px; height: 2px;
    background: #00712D;
    margin: 0 auto 40px;
}
#wrap main .road_map h1{
    font-size: 2.5rem; font-weight: 500; color: #00712D;
    margin-bottom: 80px;
}
#wrap main .road_map .map_container {
    display: flex;
}
#wrap main .road_map .map_container .map {
    margin-right: 42px; background: yellow;
    width: 700px; height: 390px;
    border: 1px solid #B1B1B1;
}
#wrap main .road_map .map_container .map iframe{
    width: 100%; height: 100%;
}
#wrap main .road_map .map_container .map_contents {
    text-align: left;
}
#wrap main .road_map .map_container .map_contents dt {
    font-size: 1.375rem; font-weight: 500;
    color: #FF9100;
    margin:20px 0 6px;
}
#wrap main .road_map .map_container .map_contents dd {
    font-weight: 300; line-height: 1.5;
}
#wrap main .road_map .map_container .map_contents dt:nth-child(1) {
    margin-top: 0;
}
